<div class="ms-slidebar sb-slidebar sb-left sb-momentum-scrolling sb-style-overlay">

    <a href="index.html"><img id="logo-hostsco-mobile-nav" src="assets/img/hostsco-logo-primary.svg"></a>

    <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
        <li><a class="link" href="index.html"><i class="fal fa-home"></i> Home</a></li>
        <li><a class="link" href="host.html"><i class="fal fa-h-square"></i> Become a host</a></li>
        <li><a class="link icon-wide-fix" href="signup.html"><i class="fal fa-user-plus"></i> Sign up</a></li>
        <li><a class="link" href="login.html"><i class="fal fa-sign-in-alt"></i> Log in</a></li>
    </ul>

</div>
