.checkbox,
label.checkbox-inline {

    .checkbox-material {
        vertical-align: middle;
        position: relative;
        top: 3px;
        &:before { // FIXME: document why this is necessary (doesn't seem to be on chrome)
            display: block;
            position: absolute;
            top: -3px;
        }
    }
}
.checkbox input[type="checkbox"]:checked + .checkbox-material::after, label.checkbox-inline input[type="checkbox"]:checked + .checkbox-material::after {
    background-color: #e5234a;
    display: block;
    content: "";
    width: 1px;
    height: 16px;
    position: absolute;
    left: 2px;
    top: -2px;
    z-index: 1;
}