.form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label {
  color: rgba(0, 0, 0, 0.87) !important;
  top: -17px;
  left: 10px;
  font-size: 16px;
  line-height: 1.42857;
}
.form-group.label-static label.control-label, .form-group.label-floating.is-focused label.control-label, .form-group.label-floating:not(.is-empty) label.control-label {
  top: -35px;
  left: 10px;
  font-size: 12px;
  line-height: 1.07143;
}
.form-group.form-group-datepicker {
  margin-top: 29px;
}
.form-group.form-group-select {
  margin-top: 19px;
}